@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

.nenu-item {
    position: static;
    height: 24px;
    top: 0px;
    font-family: 'Orbitron', sans-serif;
    font-style: normal;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.18px;

    /* Text / White 87 */

}

.page-link {
    font-weight: 400;
    color: rgba(255, 255, 255, 0.87);
    text-decoration: none;
}